---
version: 2
interactions:
    - id: 0
      request:
        host: api.github.com
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Time-Zone:
                - America/Mexico_City
        url: https://api.github.com/repos/KyleKing/gh-sweep
        method: GET
      response:
        body: '{"id":1102234541,"node_id":"R_kgDOQbLDrQ","name":"gh-sweep","full_name":"KyleKing/gh-sweep","private":false,"owner":{"login":"KyleKing","id":3784339,"node_id":"MDQ6VXNlcjM3ODQzMzk=","avatar_url":"https://avatars.githubusercontent.com/u/3784339?v=4","gravatar_id":"","url":"https://api.github.com/users/KyleKing","html_url":"https://github.com/KyleKing","followers_url":"https://api.github.com/users/KyleKing/followers","following_url":"https://api.github.com/users/KyleKing/following{/other_user}","gists_url":"https://api.github.com/users/KyleKing/gists{/gist_id}","starred_url":"https://api.github.com/users/KyleKing/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/KyleKing/subscriptions","organizations_url":"https://api.github.com/users/KyleKing/orgs","repos_url":"https://api.github.com/users/KyleKing/repos","events_url":"https://api.github.com/users/KyleKing/events{/privacy}","received_events_url":"https://api.github.com/users/KyleKing/received_events","type":"User","user_view_type":"public","site_admin":false},"html_url":"https://github.com/KyleKing/gh-sweep","description":"A gh cli plugin for a mix of administrative tools (branch pruning, unresolved comment followup, etc.)","fork":false,"url":"https://api.github.com/repos/KyleKing/gh-sweep","forks_url":"https://api.github.com/repos/KyleKing/gh-sweep/forks","keys_url":"https://api.github.com/repos/KyleKing/gh-sweep/keys{/key_id}","collaborators_url":"https://api.github.com/repos/KyleKing/gh-sweep/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/KyleKing/gh-sweep/teams","hooks_url":"https://api.github.com/repos/KyleKing/gh-sweep/hooks","issue_events_url":"https://api.github.com/repos/KyleKing/gh-sweep/issues/events{/number}","events_url":"https://api.github.com/repos/KyleKing/gh-sweep/events","assignees_url":"https://api.github.com/repos/KyleKing/gh-sweep/assignees{/user}","branches_url":"https://api.github.com/repos/KyleKing/gh-sweep/branches{/branch}","tags_url":"https://api.github.com/repos/KyleKing/gh-sweep/tags","blobs_url":"https://api.github.com/repos/KyleKing/gh-sweep/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/KyleKing/gh-sweep/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/KyleKing/gh-sweep/git/refs{/sha}","trees_url":"https://api.github.com/repos/KyleKing/gh-sweep/git/trees{/sha}","statuses_url":"https://api.github.com/repos/KyleKing/gh-sweep/statuses/{sha}","languages_url":"https://api.github.com/repos/KyleKing/gh-sweep/languages","stargazers_url":"https://api.github.com/repos/KyleKing/gh-sweep/stargazers","contributors_url":"https://api.github.com/repos/KyleKing/gh-sweep/contributors","subscribers_url":"https://api.github.com/repos/KyleKing/gh-sweep/subscribers","subscription_url":"https://api.github.com/repos/KyleKing/gh-sweep/subscription","commits_url":"https://api.github.com/repos/KyleKing/gh-sweep/commits{/sha}","git_commits_url":"https://api.github.com/repos/KyleKing/gh-sweep/git/commits{/sha}","comments_url":"https://api.github.com/repos/KyleKing/gh-sweep/comments{/number}","issue_comment_url":"https://api.github.com/repos/KyleKing/gh-sweep/issues/comments{/number}","contents_url":"https://api.github.com/repos/KyleKing/gh-sweep/contents/{+path}","compare_url":"https://api.github.com/repos/KyleKing/gh-sweep/compare/{base}...{head}","merges_url":"https://api.github.com/repos/KyleKing/gh-sweep/merges","archive_url":"https://api.github.com/repos/KyleKing/gh-sweep/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/KyleKing/gh-sweep/downloads","issues_url":"https://api.github.com/repos/KyleKing/gh-sweep/issues{/number}","pulls_url":"https://api.github.com/repos/KyleKing/gh-sweep/pulls{/number}","milestones_url":"https://api.github.com/repos/KyleKing/gh-sweep/milestones{/number}","notifications_url":"https://api.github.com/repos/KyleKing/gh-sweep/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/KyleKing/gh-sweep/labels{/name}","releases_url":"https://api.github.com/repos/KyleKing/gh-sweep/releases{/id}","deployments_url":"https://api.github.com/repos/KyleKing/gh-sweep/deployments","created_at":"2025-11-23T04:13:47Z","updated_at":"2026-08-19T04:33:04Z","pushed_at":"2026-08-16T02:43:41Z","git_url":"git://github.com/KyleKing/gh-sweep.git","ssh_url":"git@github.com:KyleKing/gh-sweep.git","clone_url":"https://github.com/KyleKing/gh-sweep.git","svn_url":"https://github.com/KyleKing/gh-sweep","homepage":null,"size":430,"stargazers_count":1,"watchers_count":1,"language":"Go","has_issues":true,"has_projects":false,"has_downloads":false,"has_wiki":false,"has_pages":false,"has_discussions":false,"forks_count":1,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":2,"license":{"key":"mit","name":"MIT License","spdx_id":"MIT","url":"https://api.github.com/licenses/mit","node_id":"MDc6TGljZW5zZTEz"},"allow_forking":true,"is_template":false,"web_commit_signoff_required":false,"has_pull_requests":true,"pull_request_creation_policy":"all","topics":[],"visibility":"public","forks":1,"open_issues":2,"watchers":1,"default_branch":"main","permissions":{"admin":true,"maintain":true,"push":true,"triage":true,"pull":true},"temp_clone_token":"","allow_squash_merge":true,"allow_merge_commit":true,"allow_rebase_merge":true,"allow_auto_merge":false,"delete_branch_on_merge":false,"allow_update_branch":false,"use_squash_pr_title_as_default":false,"squash_merge_commit_message":"COMMIT_MESSAGES","squash_merge_commit_title":"COMMIT_OR_PR_TITLE","merge_commit_message":"PR_TITLE","merge_commit_title":"MERGE_MESSAGE","security_and_analysis":{"secret_scanning":{"status":"enabled"},"secret_scanning_push_protection":{"status":"enabled"},"dependabot_security_updates":{"status":"disabled"},"secret_scanning_non_provider_patterns":{"status":"disabled"},"secret_scanning_validity_checks":{"status":"disabled"}},"network_count":1,"subscribers_count":0}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"b4da222539f17762df14be1fc20b4d6580fab5e8e8b5b9c5a08a3017154ceadf"
            Last-Modified:
                - Wed, 19 Aug 2026 04:33:04 GMT
            X-Accepted-Oauth-Scopes:
                - repo
            X-Github-Api-Version-Selected:
                - "2022-11-28"
            X-Github-Edge-Region:
                - iad
            X-Github-Media-Type:
                - github.v3; param=merge-info-preview.nebula-preview; format=json
            X-Oauth-Client-Id:
                - 178c6fc778ccc68e1d6a
            X-Oauth-Scopes:
                - gist, read:org, repo
            X-Ratelimit-Limit:
                - "5000"
            X-Ratelimit-Remaining:
                - "4934"
            X-Ratelimit-Reset:
                - "1787114510"
            X-Ratelimit-Resource:
                - core
            X-Ratelimit-Used:
                - "66"
        status: 200 OK
        code: 200
        duration: 729.108125ms
[...]
    - id: 10
      request:
        host: api.github.com
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Time-Zone:
                - America/Mexico_City
        url: https://api.github.com/repos/KyleKing/gh-sweep/branches/main/protection
        method: GET
      response:
        body: '{"message":"Branch not protected","documentation_url":"https://docs.github.com/rest/branches/branch-protection#get-branch-protection","status":"404"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Accepted-Oauth-Scopes:
                - ""
            X-Github-Api-Version-Selected:
                - "2022-11-28"
            X-Github-Edge-Region:
                - iad
            X-Github-Media-Type:
                - github.v3; param=merge-info-preview.nebula-preview; format=json
            X-Oauth-Client-Id:
                - 178c6fc778ccc68e1d6a
            X-Oauth-Scopes:
                - gist, read:org, repo
            X-Ratelimit-Limit:
                - "5000"
            X-Ratelimit-Remaining:
                - "4956"
            X-Ratelimit-Reset:
                - "1787115107"
            X-Ratelimit-Resource:
                - core
            X-Ratelimit-Used:
                - "44"
        status: 404 Not Found
        code: 404
        duration: 248.696542ms
